<div class='col-md-4 col-lg-3 padding'>
  {{day-select selectedDay=setting.day}}
  <hr/>
  {{#each zones as |zone|}}
    {{timezone-select zone=zone}}
  {{/each}}
  <div class='row'>
    <div class='col-xs-12'>
      <button class='btn btn-primary btn-block' {{action 'addZone'}}>Add Timezone</button>
    </div>
  </div>
</div>
<div class='col-md-8 col-lg-9'>
  <div class='padding'>
    <table class='table table-hover table-sm table-zones'>
      <thead>
        <tr>
          {{#each zones as |zone|}}
            <th align='center'>{{zone.name}}</th>
          {{/each}}
        </tr>
      </thead>
      {{time-table zones=zones}}
    </table>
  </div>
</div>
